body {
    font-family: Arial;
    font-size: 14px;
}

.form-container {
    -webkit-font-smoothing: antialiased;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: .9em;
    color: #1e2a28;
    width: 720px;
    margin: 0 auto;
    padding: 12px 12px 12px 36px;
}

.label {
    color: #75726c;
}

.input-field {
    width: 220px;
    border-radius: 3px;
    padding: 5px;
    border: #91949d 1px solid;
    box-sizing: border-box;
    margin: 5px 10px 0px 0px;
}

.total-field {
    width: 220px;
    padding: 5px;
    margin: 5px 10px 0px 0px;
    border: #cecece 1px solid;
    background-color: #f3f3f3;
}

.select-item{
    width: 220px;
    padding: 5px;
    border: 0px;
    margin: 5px 10px 0px 0px;
    border: #91949d 1px solid;
}

.btn-submit {
    width: 200px;
    padding: 10px;
    background: #555454;
    border: #464646 1px solid;
    color: #ffffff;
    font-size: 0.9em;
    border-radius: 2px;
    cursor: pointer;
    margin: 10px;
    margin-left: 20px;
}
.btn-submit:disabled {
    border: #cecece 1px solid;
    background-color: #f3f3f3;
    color: #cecece;
}
.inline-block {
    display: inline-block;
}

.row{
    margin: 10px;
}

.err-msg-field{
    width: 340px;
    padding: 5px;
    margin: 5px 10px 0px 0px;
    border: #ffffff 0px solid;
    color: #f13636;
}

@media only screen and (max-width: 500px) {
  .inline-block {
    display: block;
  }
  .responsive {
      margin-top: 20px;
  }
}